<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Почитувани, вашиот кориснички профил на Екосфера е успешно авторизиран и подготвен за користење.</p>
  <p>Можете да се логирате на долунаведениот линк:</p>

  <p><%= link_to new_user_session_url, new_user_session_url %></p>

</body>
</html>