<div class="comments">
  <h3><%= "#{t('comments.comment', :count => 2)}".mb_chars.titlecase.to_s %></h3>
  <br>
  <%= render :partial => 'comments/form',
             :locals => { :comment => @new_comment } %>
  <br>
  <%= render :partial => 'comments/comment',
             :collection => @comments,
             :as => :comment %>
</div>
