<div class="span12">
  <h1><%= "#{t(:new, :gender => :f)} #{NewsPost.model_name.human}".mb_chars.titlecase.to_s %></h1>
  <br>

  <%= render 'form' %>

  <% if can? :read, NewsPost %>
    <%= link_to "#{t('action.back')}", news_posts_path %>
  <% end %>
</div>
