<div class="span12">
  <h1><%= "#{t(:new, :gender => :m)} #{Sector.model_name.human}".mb_chars.titlecase.to_s %></h1>
  <br>

  <%= render 'form' %>

  <%= link_to "#{t('action.back')}", sectors_path %>
</div>
