<div class="span12">
  <h1><%= User.model_name.human(:count => 2).mb_chars.titlecase.to_s %></h1>
  <br>
  <h4><%= User.human_attribute_name(:email) %>: <%= @user.email if @user.email %></h4>
  <br>
  <%= link_to 'Show user profile', user_profile_path(@user_profile.id) %>
</div>
