<p>Добредојдовте од Екосфера <%= @email %>!</p>

<p>Можете да го потврдите вашиот профил со клик на долунаведениот линк:</p>

<p><%= link_to 'Потврди го мојот профил', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

