<p>Здраво <%= @resource.email %>!</p>

<p>Добивме барање за промена на вашата лозинка. За да ја промените вашата лозинка кликнете на долунаведениот линк.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ако не побаравте промена на вашата лозинка, ве молиме игнорирајте го овој емаил.</p>
<p>Вашата лозинка нема да биде променета ако не го кликнете линкот и креирате нова.</p>