<p>Здраво <%= @resource.email %>!</p>

<p>Вашиот профил е заклучен поради премногу неуспешни обиди за најава.</p>

<p>Кликнете го линкот долу за да го отклучите вашиот профил:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>