<%= link_to image_tag('logo.png', :width => 84),
            root_path,
            :class => 'brand' %>
<div class="brand-text-outer pull-left">
  <div class="brand-text">
    <h4><%= t "header.title" %></h4>
    <p><%= t "header.subtitle" %></p>
  </div>
</div>
<div class="brand-text-outer pull-right">
  <span class="brand-text" id="countdown"></span>
</div>

<script type="text/javascript">
  var launchDate = new Date();

  launchDate = new Date("january 17, 2014 13:00:00");

  $('#countdown').countdown(
      {
        until: launchDate,
        description: '',
        layout: '{dn} дена, {hn} часови, {mn} минути и {sn} секунди'
      }
  );
</script>